<div class="block-left">
  <div class="content">
    <div class="main-info">
      <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
      <h1>
        {{ site.title }}
      </h1>
      <h2>
        {{ site.description }}
        <p>
          <a class="typeform-share button" href="https://indiaconferences.typeform.com/to/dJRMXi" data-mode="drawer_left" style="display:inline-block;text-decoration:none;background-color:#484850;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" data-hide-headers=true data-hide-footer=true data-submit-close-delay="5" target="_blank">Submit Event </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </p>
      </h2>
      <p>Scroll down to continue to full list. <br><br> Want to check confs with specific tags?</p>
      
      <ul class="tags">
        <li><a href="/cfp">🎤 CFP</a></li><br><br>
        <li><a href="/childcare">👶 CHILDCARE</a></li><br><br>
        <li><a href="/scholarships">🎓 SCHOLARSHIPS</a></li>
      </ul>
      
    </div>
  </div>
  <canvas></canvas>
</div>
