<div class="block-left">
  <div class="content">
    <div class="main-info">
      <a href="{{ site.url }}" class="logo"><img src="{{ site.url }}/images/{{ site.logo }}"></a>
      <h1>
        {{ site.title }}
      </h1>
      <h2>
        {{ site.description }}
        <p>
          <a href="https://forms.gle/f59LZka1w5bVCLqn8" style="display:inline-block;text-decoration:none;background-color:#484850;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:50px;text-align:center;margin:0;height:50px;padding:0px 33px;border-radius:0px;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Submit Event</a>
        </p>
      </h2>
      <p>Scroll down to continue to full list 📣.<br><br>Check out tabs for <a href="/cfp">🎤</a>  <a href="/childcare">👶</a>  <a href="/scholarships">🎓</a> !!!</p>
      
      <ul class="tags">
        <li><a href="/cfp">🎤 CFP</a></li><br><br>
        <li><a href="/childcare">👶 CHILDCARE</a></li><br><br>
        <li><a href="/scholarships">🎓 SCHOLARSHIPS</a></li>
      </ul>
      
    </div>
  </div>
  <canvas></canvas>
</div>
